# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
appsettings.development.json

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
*.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
.DS_Store
*.nupkg
TestResults/
*.idea/

# Test Results
coverage-html
coverage-hits
coverage.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Secrets files
secrets.json
